<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" href="/login">Logout</a>
  
  <ul class="navbar-nav mr-auto">

    <li class="nav-item">
      <a class="nav-link" href="/documento">Pesquisa documento</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/resultado">Resultado</a>
    </li>

  </ul>
</nav>