<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" href="/logout">Logout</a>
  
  <ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-truck" aria-hidden="true" style="color:black"></i>
        Posição de Carga
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
        <a class="dropdown-item" href="/posicaocarga">Período</a>
        <a class="dropdown-item" href="/posicaocargadoc">Conhecimento</a>
        <a class="dropdown-item" href="/posicaocarganf">Nota Fiscal</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/posicaocargalote">Lote de NFs</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-usd" aria-hidden="true" style="color:black"></i>
        Posição de Cobrança
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <a class="dropdown-item" href="/posicaocoberp">Período</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cog" aria-hidden="true" style="color:black"></i>
        Ajustes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <a class="dropdown-item" href="/documento">Testar API</a>
        <a class="dropdown-item" href="/mudasenha">Modificar Senha</a>
      </div>
    </li>

  </ul>
  <a class="navbar-brand" href="#" style="color:red">Base Sênior</a>
</nav>