<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" href="/logout">Logout</a>
  
  <ul class="navbar-nav mr-auto">

    <li class="nav-item">
      <a class="nav-link" href="/documento">Teste API</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/posicaocarga">Posição da Carga</a>
    </li>

  </ul>
</nav>