<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>

<style type="text/css">
.center {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}</style>

<body class="container">
    <%- include('../partials/msg'); %>
    <!-- admin -->
    <main>
        <div class="col d-flex justify-content-center">
        <div class="card text-center" style="width: 30rem;" aling="center">
            <div class="row">                
                <img src="public/img/termacosic.png" alt="Termaco" class="center">
            </div>
            <form id="formadmin" action="/admin/check" method="POST">
                <div class="form-group"> 
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input type="number"  max="99999999999999" class="form-control" id="cliente" name="cliente" placeholder="CNPJ ou CPF do cliente">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input type=text class="form-control" id="usuario" name="usuario" placeholder="Usuário local">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input type=password autocomplete=new-password maxlength="20" id="senha" name="senha" placeholder="Entre com sua senha" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input type="submit" class="btn btn-block btn-primary" value="Login">
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>	
        </div> 
    </main>
    <script>
        setTimeout(()=>{
            document.getElementById('senha').value=''
        },100)
    </script>
</body>
</html>    
